.tree {
    line-height: 22px;
    white-space: nowrap;
    z-index: 1;
    --depth: 0;
    --depth2: 0;
}

.children {
    --depth2: var(--depth);
    padding-left: 20px;
}

.caret {
    --depth: calc(var(--depth2) + 1);

    &.caret-down > span {
        position: sticky;
        padding-top: 1px;
        top: calc((var(--depth) - 1) * 23px);
        background-color: var(--vscode-editor-background);
        z-index: calc(20 - var(--depth));
        display: inline-block;
        width: 100%;
    }

	&.caret-down::before {
        position: sticky;
        padding-top: 4px;
        top: calc((var(--depth) - 1) * 23px);
    }
}

.stuck {
    box-shadow: var(--vscode-sideBarStickyScroll-shadow) 0 6px 6px -6px;
}

.binary {
    &::before {
        color: var(--vscode-charts-green);
    }
}
