body {
	background-color: var(--vscode-debugView-background);
	padding: 0;
	margin: 0;
}

table {
	width: auto;
	border-collapse: separate;
	border-spacing: 0;
	margin-bottom: 1em;
	table-layout: auto;
}

thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--vscode-debugView-background);
}

th, td {
	padding: 4px 8px;
	border: none;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th {
	font-weight: normal;
	background-color: var(--vscode-editor-background);
	color: var(--vscode-foreground);
	border-bottom: 1px solid var(--vscode-panel-border);
	cursor: pointer;
	user-select: none;

	&.sort {
		font-weight: bold;
		&::before {
			font-family: 'codicon';
			content: '\eab4';
		}
		&.up::before {
			content: '\eab7';
		}
	}
}

tbody tr {
	position: relative;
	pointer-events: none;
	background-color: var(--vscode-debugView-background);
	& > * {
		pointer-events: auto;
	}
/*
	&:nth-child(even) {
		background-color: var(--vscode-list-hoverBackground);
	}
*/
	&:hover {
		background-color: var(--vscode-list-hoverBackground);
		&::after {
			content: '\eae8';
			font: normal normal normal 16px/1 codicon;
			background-color: var(--vscode-list-hoverBackground);
			position: sticky;
			right: 10px;
			height: 100%;
			vertical-align: middle;
			cursor: pointer;
			pointer-events: all;
			display: inline-block;
		}
	}
	&.selected {
		background-color: var(--vscode-list-activeSelectionBackground);
		color: var(--vscode-list-activeSelectionForeground);
	}
}

td.path {
	position: relative;
	padding-right: 0;
	text-overflow:initial;

	&:hover {
        & > span {
            text-decoration: underline;
        }
        &::after {
            content: attr(title);
            position: absolute;
            left: 0;
            top: 100%;
            background-color: var(--vscode-editor-background);
            border: 1px solid var(--vscode-panel-border);
            padding: 5px;
            z-index: 1;
            white-space: normal;
            word-break: break-all;
            max-width: 300px;
        }
	}

	& > span {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}
}


.vscrollbar {
    right: 0;
    width: 10px;
}

.hscrollbar {
    bottom: 0;
    height: 10px;
}
