@font-face {
	font-family: "codicon";
	src: url("./codicon.ttf?9642aa1d48ab4e55aa1bf3f0b8678aa1") format("truetype");
}

html {
    scrollbar-width: none;
	/*user-select: none;*/
}

body {
	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	color: var(--vscode-foreground);
}

.codicon {
	font: normal normal normal 16px/1 codicon;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	vertical-align: text-top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

button.normal {
	color: var(--vscode-button-foreground);
	background-color: var(--vscode-button-background);
	border: 1px solid var(--vscode-button-border, transparent);
	border-radius: 2px;
	padding: 4px 8px;
	cursor: pointer;
}

button.normal:hover {
	background-color: var(--vscode-button-hoverBackground);
}

button.codicon {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	color: var(--vscode-icon-foreground);
}

button.codicon:hover {
	color: var(--vscode-icon-foreground);
	opacity: 0.8;
}

.vscrollbar, .hscrollbar {
	position: fixed;
    z-index: 11;
    background: var(--vscode-scrollbarSlider-background);

    opacity: 0;
    transition: opacity .8s linear;

    html:hover &, .resizing & {
        opacity: 1;
        transition: opacity .1s linear;

        &:hover {
            background: var(--vscode-scrollbarSlider-hoverBackground);
        }
        &.active {
            background: var(--vscode-scrollbarSlider-activeBackground)
        }

        &.invisible {
            opacity: 0;
            transition: opacity .8s linear;
            pointer-events: none;
        }
    }
}

.vscrollbar {
    right: 0;
    width: 14px;
}

.hscrollbar {
    bottom: 0;
    height: 14px;
}
