body {
    line-height: 22px;
    --depth: 0;
    --depth2: 0;
}

.tree {
    white-space: nowrap;
    z-index: 1;
}

.children {
    --depth2: var(--depth);
    padding-left: 20px;
}

.caret {
    --depth: calc(var(--depth2) + 1);
    cursor: pointer;
    /*user-select: none;
    /*pointer-events: none;*/

    & > span::before {
        font-family: 'codicon';
        content: '\eab6';
        display: inline-block;
        margin-right: 6px;
        pointer-events: auto;
    }

    &.caret-down > span {
        position: sticky;
        top: calc((var(--depth) - 1) * 22px);
        background-color: var(--vscode-editor-background);
        z-index: calc(1000 - var(--depth));
        display: inline-block;
        width: 100%;

        &::before {
            font-family: 'codicon';
            content: '\eab4';
        }
    }

    &:has(> span:first-child > .codicon) > .children {
        padding-left: 32px;
    }
}

.stuck {
    box-shadow: var(--vscode-sideBarStickyScroll-shadow) 0 6px 6px -6px;
}

.caret:not(.caret-down) div {
    display: none;
}

.path > span:hover {
    text-decoration: underline;
}
